h1{
    color:red;
    background-color:green;
    font-size:50px;
}
img:hover{
    background-color:blue;
}

.brocali{
    background-color:blue;
}

.apple{
    background-color:yellow;
}
.tomato{
    background-color:orange;
}
.kadli{
    background-color:pink;
}

#kurkuri{
    color:brown;
}
.circular{
    border-radius:100%;
}
